micronaut:
  application:
    name: procureApp
  security:
    authentication: session
    redirect:
      login-success: /
      login-failure: /login/authFailed
    endpoints:
      logout:
        get-allowed: true
    # allowing static resources, see router
    # https://micronaut-projects.github.io/micronaut-security/latest/guide/#interceptUrlMap
    intercept-url-map:
      - pattern: /assets/**
        http-method: GET
        access:
          - isAnonymous()
      - pattern: /js/**
        http-method: GET
        access:
          - isAnonymous()
      - pattern: /css/**
        http-method: GET
        access:
          - isAnonymous()
  # https://micronaut-projects.github.io/micronaut-openapi/latest/guide/index.html#mappingPath
  router:
    static-resources:
      assets:
        #        enabled: true
        paths: classpath:views/assets
        mapping: /assets/**
      js:
        paths: classpath:views/js
        mapping: /js/**
      css:
        paths: classpath:views/css
        mapping: /css/**
  session:
    http:
      redis:
        enabled: true
        namespace: 'myapp:sessions'
        write-mode: BACKGROUND
        enable-keyspace-events: false

datasources:
  default:
    url: ${JDBC_URL:`jdbc:h2:mem:default;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE`}
    username: ${JDBC_USER:sa}
    password: ${JDBC_PASSWORD:""}
    driverClassName: ${JDBC_DRIVER:org.h2.Driver}

jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: true

redis:
  uri: redis://localhost
